<footer class="site-footer">
  <div class="container">
    {% block footer_wordmark %}
      <a class="footer-wordmark" href="https://urbis.prefeitura.sp.gov.br/">URBIS</a>
    {% endblock %}
    {% block footer_content %}
    <div class="footer-grid">
      <div class="footer-col footer-links">
        {% block footer_nav %}
          <h2 class="footer-heading">{{ _('Navegação') }}</h2>
          <ul class="list-unstyled">
            {% block footer_links %}
              <li><a href="{{ h.url_for('home.about') }}">{{ _('About {0}').format("o DadosAbertos.Urbis") }}</a></li>
            {% endblock %}
            {% block footer_links_ckan %}
              <li><a href="https://docs.ckan.org/en/">{{ _('CKAN API') }}</a></li>
              <li><a href="https://datalake.urbis.prefeitura.sp.gov.br/">{{ _('Datalake.Urbis (uso interno)') }}</a></li>
            {% endblock %}
          </ul>
        {% endblock %}

        <div class="footer-credits">
          {% block footer_attribution %}
            <ul class="list-unstyled">
              <li class="footer-credit">
                <span class="footer-credit-label">{{ _('Desenvolvido por') }}</span>
                <a href="https://basedosdados.org/">
                  <img src="/logo_basedosdados.svg" alt="">
                  <span class="footer-credit-name"></span>
                </a>
              </li>
              <li class="footer-credit">
                <span class="footer-credit-label">{{ _('Powered by') }}</span>
                <a href="https://okfn.org/en/">
                  <img src="/logo_okfn.svg" alt="">
                  <span class="footer-credit-name"></span>
                </a>
              </li>
            </ul>
          {% endblock %}
        </div>
      </div>

      <div class="footer-col footer-lang">
        {% block footer_lang %}
          <h2 class="footer-heading">{{ _('Idioma') }}</h2>
          {% snippet "snippets/language_selector.html" %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>
</footer>
